<%- include('header.ejs') %>
<link rel="stylesheet" href="/style.css">
<form onsubmit="">
    <h1>Connexion</h1>
    <div>
        <label for="id_utilisateur">Identifiant:</label>
        <input type="text" id="id_utilisateur" name="nomUtilisateur" required>
    </div>
    <div>
        <label for="mdp">Mot de passe:</label>
        <input type="password" id="mdp" name="mdp" required>
    </div>
    <button type="submit">Se connecter</button>
</form>
</body>
</html>
