<%- include('header_connected') %>
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enseignant Référent</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <br>
        <h1 class="display-4">Enseignant Référent</h1>
        <br>
        <% enseignantReferent.forEach(enseignant => { %>
        <div class="enseignant-info">
            <div class="nom">Nom : <%= enseignant.nom %></div>
            <div class="prenom">Prénom : <%= enseignant.prenom %></div>
        </div>
        <% }) %>
    </div>    
</body>

</html>
