<footer id="footer" style="text-align:center; padding: 30px; position: fixed; bottom: 0; width: 100%; background-color: #CCCCFF;">
    <div class="container">
      <div class="copyright">
            <strong> 2024 - Asimov</strong> - Tous droits réservés 
      </div>
    </div>
</footer>