<header style="position: fixed; top: 0; width: 100%; background-color: #CCCCFF;">
    <div>
        <span class="logo float-left">
            <a class="navbar-brand" href="/accueil">
                <img src="images/logo.png" alt="logo" style="height: 4%; width: 4%;">
            </a>
        </span>
        <form class="form-group form-inline">
            <a href="http://localhost:3000/connexion" class="btn btn-success" id="btnConnexion" style="position: fixed;">Connexion</a>
        </form>
    </div>
    <div style="clear: both;"></div>
</header>