<header style="position: fixed; top: 0; width: 100%; background-color: #CCCCFF;">
    <div>
        <span class="logo float-left">
            <a class="navbar-brand" href="/accueil">
                <img src="images/logo.png" alt="logo" style="height: 4%; width: 4%;">
            </a>
        </span>
        <span style="right: auto;">
            <a class="nav-link" href="#">Onglet 1</a>
        </span>
    </div>
    <div style="clear: both;"></div>
</header>